{% extends 'customer/info/base_info.html' %}

{% block title %}Contact Us - He She Style Wear{% endblock %}

{% block content %}
<h1>Contact Us</h1>

<h2>1. Get in Touch</h2>
<p>We’re here to help! If you have any questions about our products, orders, or policies, feel free to get in touch with
    us.</p>

<h2>2. Email</h2>
<p><strong>Email:</strong> info@sheshestylewear.com</p>

<h2>3. Phone</h2>
<p><strong>Phone:</strong> +1 (780) 886-4821</p>

<h2>4. Support Hours</h2>
<p>Our support team will respond as soon as possible during business hours.</p>

<p>Thank you for choosing He She Style Wear.</p>

</div>
{% endblock %}