{% extends 'customer/info/base_info.html' %}

{% block title %}Track Your Order - He She Style Wear{% endblock %}

{% block content %}
<h1>Track Your Order</h1>

<p>You can easily track your order with He She Style Wear using the options below.</p>

<h2>Via Website</h2>
<p>Visit our website and go to the Track Order section to check the latest status of your order.</p>

<h2>Via Email</h2>
<p>Once your order is shipped, we will send your Order ID and Order Status to your registered email address. You can use
    this information to track your delivery.</p>

<p>If you need any assistance, please contact us:</p>
<p><strong>Email:</strong> info@sheshestylewear.com</p>
<p><strong>Phone:</strong> +1 (780) 886-4821</p>


<p><em>Note: Delivery times are estimates and may vary during peak seasons, holidays, or due to weather conditions.</em>
</p>
{% endblock %}